# common file patterns
.DS_STORE
.idea
*.iml
*.pyc
*.png
__pycache__
*.jar
*.class
.project
*.prefs
_build

# excluded paths
/arch/core/target/
/arch/driver/federation/target/
/arch/eggroll/egg/target/
/arch/eggroll/meta-service/target/
/arch/eggroll/roll/target/
/arch/eggroll/storage-service/target/
/arch/networking/proxy/target/
/arch/driver/target/
/arch/eggroll/target/
/fate-serving/federatedml/target/
/fate-serving/serving-server/target/
/fate-serving/target/
/fate-serving/fate-serving-core/target/
/arch/networking/target/
/arch/target/
/fateboard/target/
/data/
/logs/
/jobs/
/audit/
.vscode/*
/eggroll/
cluster-deploy/images/arch_en.png
cluster-deploy/images/arch_en.png
cluster-deploy/images/arch_zh.png
cluster-deploy/images/deploy_cluster.png
cluster-deploy/images/deploy_cluster_en.png
cluster-deploy/images/deploy_guest.png
cluster-deploy/images/fate_on_eggroll_architecture.png
cluster-deploy/images/fate_on_spark_architecture.png
cluster-deploy/images/proxy_zh.png
doc/AAAI_2019/GDPR_Data_Shortage_and_AI-AAAI_2019_PPT.pdf
doc/FATE_v1.1_ARCH_SIMPLE_201911_v2.pdf
doc/images/FATE_logo.png
doc/images/federatedml_structure.png
doc/SecureBoost-ijcai2019-workshop.pdf
doc/shalon201907/FATEú║╨┬╥╗┤·┴¬░ε╤º╧░╝╝╩⌡╝░╙ª╙├╩╡╒╜.pdf
doc/shalon201907/FATE：新一代联邦学习技术及应用实战.pdf
doc/shalon201907/╣╣╜¿╢╦╡╜╢╦╡─┴¬░ε╤º╧░Pipeline╔·▓·╖■╬±.pdf
doc/shalon201907/构建端到端的联邦学习Pipeline生产服务.pdf
examples/data/breast_hetero_guest.csv
examples/data/breast_hetero_host.csv
examples/data/breast_hetero_host_tag_value.csv
examples/data/breast_hetero_mini_guest.csv
examples/data/breast_hetero_mini_host.csv
examples/data/breast_homo_guest.csv
examples/data/breast_homo_host.csv
examples/data/breast_homo_test.csv
examples/data/citeulike_a_eval.csv
examples/data/citeulike_a_guest.csv
examples/data/citeulike_a_host.csv
examples/data/citeulike_svd_guest_1000.csv
examples/data/citeulike_svd_host_1000.csv
examples/data/default_credit_hetero_guest.csv
examples/data/default_credit_hetero_host.csv
examples/data/default_credit_homo_guest.csv
examples/data/default_credit_homo_host_1.csv
examples/data/default_credit_homo_host_2.csv
examples/data/default_credit_homo_test.csv
examples/data/dvisits_hetero_guest.csv
examples/data/dvisits_hetero_host.csv
examples/data/epsilon_5k_hetero_guest.csv
examples/data/epsilon_5k_hetero_host.csv
examples/data/epsilon_5k_homo_guest.csv
examples/data/epsilon_5k_homo_host.csv
examples/data/epsilon_5k_homo_test.csv
examples/data/give_credit_hetero_guest.csv
examples/data/give_credit_hetero_host.csv
examples/data/give_credit_homo_guest.csv
examples/data/give_credit_homo_host.csv
examples/data/give_credit_homo_test.csv
examples/data/ionosphere_scale_hetero_guest.csv
examples/data/ionosphere_scale_hetero_host.csv
examples/data/mock_tag_hetero_host.csv
examples/data/motor_hetero_guest.csv
examples/data/motor_hetero_host.csv
examples/data/motor_hetero_host_1.csv
examples/data/motor_hetero_host_2.csv
examples/data/motor_hetero_mini_guest.csv
examples/data/motor_hetero_mini_host.csv
examples/data/nus_wide_train_guest.csv
examples/data/nus_wide_train_host.csv
examples/data/nus_wide_validate_guest.csv
examples/data/nus_wide_validate_host.csv
examples/data/student_hetero_guest.csv
examples/data/student_hetero_host.csv
examples/data/student_homo_guest.csv
examples/data/student_homo_host.csv
examples/data/student_homo_test.csv
examples/data/tag.csv
examples/data/tag_value_1000_140.csv
examples/data/UCI_Credit_Card.csv
examples/data/UCI_Credit_Card_val.csv
examples/data/unified_dataset_noniid_1_1000.csv
examples/data/unified_dataset_noniid_2_1000_mani.csv
examples/data/unified_dataset_validation_1000.csv
examples/data/unittest_data.csv
examples/data/vehicle_scale_hetero_guest.csv
examples/data/vehicle_scale_hetero_host.csv
examples/data/vehicle_scale_homo_guest.csv
examples/data/vehicle_scale_homo_host.csv
examples/data/vehicle_scale_homo_test.csv
examples/image/Component_Output.png
examples/image/DashBoard.png
examples/image/JobList.png
examples/image/JobOverview.png
python/fate_arch/federation/eggroll/__init__.py
python/fate_arch/federation/rabbitmq/__init__.py
python/fate_arch/federation/standalone/__init__.py
python/fate_flow/images/fate_flow_component_dsl.png
python/fate_flow/images/fate_flow_dag.png
python/fate_flow/images/fate_flow_dsl.png
python/fate_flow/images/fateflow_arch.png
python/fate_flow/images/federated_learning_pipeline.png
python/fate_flow/tests/python3_7_modules.csv
python/fate_test/images/tutorial.gif
python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_guest.py
python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_decision_tree_host.py
python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_guest.py
python/federatedml/ensemble/basic_algorithms/decision_tree/hetero/hetero_fast_decision_tree_host.py
python/federatedml/ensemble/basic_algorithms/decision_tree/homo/homo_decision_tree_arbiter.py
python/federatedml/ensemble/basic_algorithms/decision_tree/homo/homo_decision_tree_client.py
python/federatedml/ensemble/images/complete_secure.png
python/federatedml/ensemble/images/federated_inference.png
python/federatedml/ensemble/images/homo_fit.png
python/federatedml/ensemble/images/homo_framework.png
python/federatedml/ensemble/images/layered_procedure.png
python/federatedml/ensemble/images/layered_tree.png
python/federatedml/ensemble/images/mix_procedure.png
python/federatedml/ensemble/images/mix_tree.png
python/federatedml/ensemble/images/secure_agg.png
python/federatedml/ensemble/images/secureboost.png
python/federatedml/ensemble/images/split_finding.png
python/federatedml/ensemble/images/tree_structure.png
python/federatedml/feature/images/binning_principle.png
python/federatedml/feature/images/multi_host_selection.png
python/federatedml/feature/images/multiple_host_binning.png
python/federatedml/feature/images/optimal_binning.png
python/federatedml/framework/homo/images/aggregator.png
python/federatedml/framework/homo/images/paillier_cipher.png
python/federatedml/framework/homo/images/random_padding_cipher.png
python/federatedml/linear_model/linear_regression/images/HeteroLinR.png
python/federatedml/linear_model/logistic_regression/images/hetero_lr_multi_host.png
python/federatedml/linear_model/logistic_regression/images/HeteroLR-NN.png
python/federatedml/linear_model/logistic_regression/images/HeteroLR.png
python/federatedml/linear_model/logistic_regression/images/HomoLR.png
python/federatedml/linear_model/poisson_regression/images/HeteroPoisson.png
python/federatedml/nn/hetero_nn/images/hetero_nn_backward_propagation.png
python/federatedml/nn/hetero_nn/images/hetero_nn_forward_propagation.png
python/federatedml/nn/hetero_nn/images/hetero_nn_framework.png
python/federatedml/nn/homo_nn/images/homo_nn.png
python/federatedml/optim/images/sqn_1.png
python/federatedml/optim/images/sqn_2.png
python/federatedml/statistic/correlation/img/pearson.png
python/federatedml/statistic/correlation/img/rewrited.png
python/federatedml/statistic/correlation/img/standard.png
python/federatedml/statistic/intersect/images/multi_hosts.png
python/federatedml/statistic/intersect/images/rsa_intersection.png
python/federatedml/statistic/intersect/images/sample.png
python/federatedml/transfer_learning/hetero_ftl/images/architecture.png
python/federatedml/transfer_learning/hetero_ftl/images/samples.png
python/federatedml/unsupervised_learning/image/heterokmeans.png
cluster-deploy/images/arch_en.png
.idea/federatedML.iml
test/client/data_storage/data.csv
